{% load static %}
{% if enable_manager %}
	<link rel="stylesheet" href="{% static 'css/interaction.css' %}">	
	<div id="actions-manager">
		{% if not dynamic_install %}
		<h1>Related Action{% if allow_multiple %}s{% endif %}</h1>
		{% endif %}
		{% if error_message %}
		<p>{{ error_message }}</p>
		{% endif %}
		
		{% if allow_multiple %}
		<ul class="actions-list">
			<li class="action add-action">+</li>
		</ul>
		<ul class="action-options">
			<li class="model-delete">
				<h3>Delete action</h3>
				<button class="delete" data-op="delete">Delete</button>
				<button class="delete cancel" data-op="cancel">Cancel</button>
			</li>
			{% if types %}
			<li class="action-type">
				<label for="action-type">Action type</label><br>
				<select id="action-type" name="action_type">
					{% for type in types %}
					<option value="{{ type.id }}">{{ type.label }}</option>
					{% endfor %}
				</select>
			</li>
			{% endif %}
			{% if items %}
			<li class="action-item">
				<label for="action-item">Related item</label><br>
				<select id="action-item" name="related_item">
					{% for item in items %}
					<option value="{{ item.id }}">{{ item.label }}</option>
					{% endfor %}
				</select>
			</li>
			{% endif %}
			<li class="action-slug">
				<label for="action-slug">Action slug</label><br>
				<input id="action-slug" type="text" name="slug" class="slug-field">
			</li>
			<li class="action-grammar">
				<label for="action-grammar">Grammar</label><br>
				<input id="action-grammar" type="text" name="grammar" class="text-field"> 
				<span class="tokens">Tokens: #target#, #item#</span>
			</li>
		</ul>
		{% endif %}
	
		<div class="script">
			<h2><label for="action-script">Script</label></h2>
			<textarea id="action-script" name="script" class="text-field"></textarea>
		</div>
	</div>
	
	<div id="dialogue-manager">
		<div class="add-header">
			<button class="add-dialogue">+</button>
			<h2>Dialogue</h2>
		</div>
		<ul class="dialogue-list"></ul>
		<div class="dialogue-edit">
			<ul>
				{% if voices %}
				<li>
					<label for="dialogue-voice">Voice</label>
					<select id="dialogue-voice" name="voice" class="select-field">
						{% for voice in voices %}
						<option value="{{ voice.id }}">{{ voice.label }}</option>
						{% endfor %}
					</select>
				</li>
				{% endif %}
				<li>
					<label for="dialogue-tone">Tone</label>
					<select id="dialogue-tone" name="tone" class="select-field">
						<option value="">Default</option>
						{% for tone in tones %}
						<option value="{{ tone.slug }}">{{ tone.label }}</option>
						{% endfor %}
					</select>
				</li>
				<li>
					<label for="dialogue-slug">Slug</label>
					<input id="dialogue-slug" type="text" name="slug" class="slug-field">
				</li>
				<li>
					<label for="dialogue-target">Target</label>
					<input id="dialogue-target" type="text" name="related_target" class="slug-field">
				</li>
			</ul>
			<label for="dialogue-title">Subtitle</label>
			<textarea id="dialogue-title" name="title" class="text-field"></textarea>
			
			<div class="model-delete">
				<h3>Delete dialogue</h3>
				<button class="delete cancel" data-op="cancel">Cancel</button>
				<button class="delete" data-op="delete">Delete</button>
			</div>
		</div>
	</div>
	
	<script>
		var actionsManagerData = {
			actionTypes: {{ types_json|safe }},
			actions: {{ actions_json|safe }},
			items: {{ items_json|safe }},
			voices: {{ voices_json|safe }}
		};
	</script>
	
	{% if not dynamic_install %}
	<script src="{% static 'js/libs/require.js' %}"></script>
	<script src="{% static 'js/config.js' %}"></script>
	<script>require(['action/main'], function(actionsModel) {
		actionsModel.setData(actionsManagerData);
		//actionsModel.load("/api/v1/{{ content_type }}/{{ content_id }}/");
	});</script>
	{% endif %}
{% endif %}