{% load static %}
{% if enable_topics %}
<div id="topic-manager">
	<h1>Menu Topics</h1>
	
	<div class="add-header">
		<button class="add-model">+</button>
		<h2>Topics</h2>
	</div>
	<ul class="topic-list"></ul>
	<div class="topic-edit">
		<label>Topic Action</label>
		<select>
			<option value="">Expand</option>
			<option value="">Retract</option>
			<option value="">Hide</option>
			<option value="">Exit</option>
		</select>
		
		<label>Topic Title</label>
		<input type="text" value="" placeholder="--first dialogue line--">
	</div>
</div>

<script src="{% static 'js/libs/require.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script>require(['tree/main'], function(topicsModel) {
	topicsModel.menus.reset(JSON.parse('{{ menus_json|safe }}'));
	topicsModel.load('/api/v1/tree/{{ content_id }}/');
});</script>
{% endif %}