{% load static %}
{% if enable_topics %}
<div id="topic-manager">
	<h1>Menu Topics</h1>
	
	<div class="add-header">
		<button class="add-model">+</button>
		<h2>Menu Topics</h2>
	</div>
	
	<div id="menu-manager">
		<button class="retract">&laquo; Retract</button> | 
		<button class="expand">Expand &raquo;</button>
	</div>
	
	<ul class="topic-list"></ul>
	
	<div class="topic-edit">
		<p>
			<label>Topic Slug</label>
			<input type="text" name="slug" value="">
		</p>
		<p>
			<label>Topic Title</label>
			<input type="text" value="" placeholder="--first dialogue line--">
		</p>
		<p>
			<label for="topic-enabled">Enabled</label>
			<input type="checkbox" name="enabled">
		</p>
		
		<ul>
			<li>
				<label for="topic-enable">Enable after playing:</label>
				<select id="topic-enable" multiple="multiple"></select>
			</li>
			<li>
				<label for="topic-disable">Disable after playing:</label>
				<select id="topic-disable" multiple="multiple"></select>
			</li>
		</ul>
		<p>(Hold SHIFT and click to select multiples)</p>
		
		<ul>
			<li>
				<label for="topic-menu">Menu Trigger</label>
				<select id="topic-menu">
					<option value="_static">No change</option>
					<option value="_down">Expand</option>
					<option value="_up">Retract</option>
					<option value="_exit">Exit</option>
					<option value="">Jump to...</option>
				</select>
			</li>
			<li>
				<label for="topic-menu-pick">Next Menu:</label>
				<select id="topic-menu-pick"></select>
			</li>
		</ul>
		
		<div class="model-delete">
			<h3>Delete topic</h3>
			<button class="delete cancel" data-op="cancel">Cancel</button>
			<button class="delete" data-op="delete">Delete</button>
		</div>
	</div>
</div>

<script src="{% static 'js/libs/require.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script>require(['tree/main', 'action/main'], function(treeManager) {
	treeManager.load( {{ tree_id }}, {{ menus_json|safe }}, {{ topics_json|safe }} );
});</script>
{% endif %}