{% load static %}
{% if enable_topics %}
<div id="topic-manager">
	<h1>Menu Topics</h1>
	
	<div class="add-header">
		<button class="add-model">+</button>
		<h2>Menu Topics</h2>
	</div>
	
	<div id="menu-manager">
		<label for="menu-path">Path</label>
		<input id="menu-path" type="text" name="path" readonly="readonly">
	</div>
	
	<ul class="topic-list"></ul>
	<div class="topic-edit">
		<label>Topic Directive</label>
		<select>
			<option value="">Expand</option>
			<option value="">Retract</option>
			<option value="">Hide</option>
			<option value="">Exit</option>
		</select>
		
		<label>Topic Title</label>
		<input type="text" value="" placeholder="--first dialogue line--">
		
		<div class="model-delete">
			<h3>Delete topic</h3>
			<button class="delete cancel" data-op="cancel">Cancel</button>
			<button class="delete" data-op="delete">Delete</button>
		</div>
	</div>
</div>

<script src="{% static 'js/libs/require.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script>require(['tree/main', 'action/main'], function(treeManager) {
	treeManager.load( {{ tree_id }}, {{ menus_json|safe }}, {{ topics_json|safe }} );
});</script>
{% endif %}