@import "bourbon/bourbon";

#actions-manager {
	clear: both;
	padding: 25px 0;
	
	.actions-list {
		border-bottom: 2px solid #ccc;
		padding: 0;
		
		li {
			background-color: #ccc;
			cursor: default;
			@include inline-block;
			margin: 0 2px;
			padding: 5px 15px;

			&.selected {
				background-color: #eee;
			}
		}
	}
	
	.action-options {
		@include clearfix;
		list-style: none;
		margin: 15px 0;
		padding: 0;
		
		input,
		select,
		li {
			width: 100px;
		}
		
		li {
			float: left;
			list-style: none;
			margin-right: 25px;

			&.action-item,
			&.action-slug {
				display: none;
			}
			
			&.action-grammar {
				width: auto;
			}
		}
		
		.tokens {
			color: #999;
			margin-left: 10px;
		}
		
		.model-delete {
			float: right;
			margin: 0;
			text-align: right;
			width: 150px;
		}
	}
	
	.script textarea {
		height: 200px;
	}
}

#dialogue-manager {

	.dialogue-list {
		background-color: #eee;
		border: 1px solid #ccc;
		float: left;
		height: 200px;
		overflow: auto;
		list-style: none;
		margin: 0;
		margin-right: -100%;
		padding: 0;
		width: 48%;
		
		li {
			background-color: #fff;
			border-bottom: 1px solid #ccc;
			list-style: none;
			padding: 10px 5px;
			
			&.selected {
				background-color: #ccc;
			}
		}
	}
	
	.dialogue-edit {
		float: left;
		margin-left: 51%;
		width: 48%;
		
		textarea {
			height: 60px;
		}
	}
}

#actions-manager,
#dialogue-manager {
	textarea {
		width: 100%;
	}
}

.add-header {
	background-color: #333;
	border-radius: 5px;
	color: #fff;
	height: 25px;
	padding: 4px 10px;
	margin: 50px 0 25px;
	
	h2 {
		line-height: 25px;
	}

	button {
		border: none;
		float: right;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}