@import "bourbon/bourbon";

.toolbar {
	background-color: #eee;
	border-right: 2px solid #ccc;
	float: left;
	height: 100%;
	overflow: auto;
	width: 200px;
	
	label {
		display: block;
	}
	
	.cancel-edit {
		float: right;
	}
	
	#toolbar-list {
		
	}
	
	#toolbar-edit {
		display: none;
	}
	
	.list-view {
		margin-bottom: 35px;
	}
	
	.edit-view {
		padding: 15px;
	}
}

.list-header {
	background-color: #333;
	color: #fff;
	@include clearfix;
	padding: 2px 5px;
	
	h1 {
		float: left;
	}
	
	.add {
		float: right;
	}
}

#layer-list {
	
	.list {
		border-bottom: 2px solid #ccc;
		position: relative;
		
		&.hilite {
			border-bottom: 2px solid #f00;
		}
	}


	li {
		background-color: #fff;
		border-top: 2px solid #ccc;
		height: 25px;
		line-height: 25px;
		padding-left: 25px;
		position: relative;
		
		&.hilite {
			border-top: 2px solid #f00;
		}
		
		&.dragging input {
			color: #ccc;
		}
		
		input {
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			@include inline-block;
			height: 23px;
			vertical-align: middle;
			
			&[readonly] {
				background-color: transparent;
				border-color:  transparent;
			}
		}
		
		.drag {
			background-color: #eee;
			display: block;
			height: 25px;
			left: 0;
			position: absolute;
			top: 0;
			width: 25px;
		}
	}
}

.viewport {
	border: 1px solid #000;
	height: 600px;
	margin: auto;
	overflow: hidden;
	position: relative;
	top: 25px;
	width: 800px;
}

.scene {
	background-color: #eee;
	height: 600px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1000px;
	
	.layer {
		background-color: #ccc;
		height: 50px;
		left: 0;
		position: absolute;
		top: 0;
		width: 50px;
	}
}

#layer-metrics {
	display: none;
	
	.metric {
		left: 0;
		position: absolute;
		top: 0;
	}
	
	.metric span {
		background-color: #f00;
		border: 1px solid #000;
		display: block;
		border-radius: 50%;
		height: 10px;
		left: -5px;
		position: relative;
		top: -5px;
		width: 10px;
	}
	
	.drag span {
		background-color: #ccc;
		border-radius: 5px;
		height: 20px;
		left: -10px;
		top: -10px;
		width: 20px;
	}
	
	.resize span {
		background-color: #ccc;
	}
	
	.reg-pt span {
		background-color: #fff;
	}
	
	.map-pt span {
		
	}
}
