{% load static action_manager %}
{% if valid_type %}
	<link rel="stylesheet" href="{% static 'css/interaction.css' %}">

	<div id="actions-manager">
		<h1>Related Action{% if allow_multiple %}s{% endif %}</h1>
		<input id="resource-types" type="hidden" value="{{ types_json }}">
		<input id="resource-items" type="hidden" value="{{ items_json }}">
		<input id="resource-voices" type="hidden" value="{{ voices_json }}">
		
		{% if allow_multiple %}
		<ul class="actions-list">
			<li>+</li>
		</ul>
		<ul class="action-options">
			<li id="action-delete" class="model-delete"></li>
			<li class="action-type">
				<label for="action-type">Action type</label><br>
				<select id="action-type" name="action_type"></select>
			</li>
			<li class="action-item">
				<label for="action-item">Related item</label><br>
				<select id="action-item" name="related_item"></select>
			</li>
			<li class="action-slug">
				<label for="action-slug">Action slug</label><br>
				<input id="action-slug" type="text" name="slug" class="slug-field">
			</li>
			<li class="action-grammar">
				<label for="action-grammar">Grammar</label><br>
				<input id="action-grammar" type="text" name="grammar" class="text-field"> 
				<span class="tokens">Tokens: #target#, #item#</span>
			</li>
		</ul>
		{% endif %}
	
		<div class="script">
			<h2>Script</h2>
			<textarea name="script" class="text-field"></textarea>
		</div>
	</div>
	
	<div id="dialogue-manager">
		<div class="add-header">
			<button class="add-dialogue">+</button>
			<h2>Dialogue</h2>
		</div>
		<ul class="dialogue-list"></ul>
		<div class="dialogue-edit">
			<ul>
				<li>
					<label for="dialogue-voice">Voice</label>
					<select id="dialogue-voice" name="voice" class="select-field"></select>
				</li>
				<li>
					<label for="dialogue-tone">Tone</label>
					<select id="dialogue-tone" name="tone" class="select-field">
						<option value="">Neutral</option>
					</select>
				</li>
				<li>
					<label for="dialogue-slug">Slug</label>
					<input id="dialogue-slug" type="text" name="slug" class="slug-field">
				</li>
				<li>
					<label for="dialogue-target">Target</label>
					<input id="dialogue-target" type="text" name="related_target" class="slug-field">
				</li>
			</ul>
			<label for="dialogue-subtitle">Subtitle</label>
			<textarea id="dialogue-subtitle" name="subtitle" class="text-field"></textarea>
			
			<!--label for="dialogue-sound">Sound</label>
			<input id="dialogue-sound" type="text"-->
	
			<div id="dialogue-delete" class="model-delete"></div>
		</div>
	</div>
	
	{% if not dynamic_install %}
	<script src="{% static 'js/libs/require.js' %}"></script>
	<script src="{% static 'js/config.js' %}"></script>
	<script>require(['interaction/main'], function(actionsManager) {
		actionsManager.load("/api/v1/{{ content_type }}/{{ content_id }}/");
	});</script>
	{% endif %}
{% endif %}