@import "vars";

.add-header {
	background-color: $ccDark;
	border-radius: 5px;
	height: 25px;
	padding: 4px 10px;
	margin: 25px 0;
	
	h1, h2 {
		color: $ccWhite;
		display: inline;
		line-height: 25px;
	}

	button {
		border: none;
		border-radius: 5px;
		height: 100%;
		margin: 0;
		margin-right: 10px;
		padding: 0;
		text-align: center;
		width: 25px;
	}
}

.model-delete {
	.cancel {
		display: none;
	}
	
	&.confirm .cancel {
		@include inline-block;
	}
}