@import "bourbon/bourbon";
@import "vars";

#actions-manager {
	clear: both;
	padding: 25px 0 0;
	
	.actions-list {
		border-bottom: 4px solid $ccDark;
		padding: 0;
		
		li {
			background-color: #ccc;
			border-radius: 5px;
			@include border-bottom-radius(0); 
			cursor: default;
			@include inline-block;
			margin: 0 2px;
			padding: 5px 15px;

			&.selected {
				background-color: $ccDark;
				color: $ccWhite;
			}
		}
	}
	
	.action-options {
		@include clearfix;
		list-style: none;
		margin: 15px 0;
		padding: 0;
		
		input,
		select,
		li {
			width: 100px;
		}
		
		li {
			float: left;
			list-style: none;
			margin-right: 25px;

			&.action-item,
			&.action-slug {
				display: none;
			}
			
			&.action-grammar {
				width: auto;
			}
		}
		
		.tokens {
			color: #999;
			margin-left: 10px;
		}
		
		.model-delete {
			float: right;
			margin: 0;
			text-align: right;
			width: 150px;
		}
	}
	
	.script textarea {
		height: 200px;
	}
}

#dialogue-manager,
#topic-manager {
	
	.topic-list,
	.dialogue-list {
		background-color: #eee;
		border: 1px solid #ccc;
		float: left;
		height: 200px;
		overflow: auto;
		list-style: none;
		margin: 0;
		margin-right: -100%;
		padding: 0;
		width: 48%;
		
		li {
			background-color: #fff;
			border-bottom: 1px solid #ccc;
			list-style: none;
			padding: 10px 5px;
			
			&.selected {
				background-color: #ccc;
			}
		}
	}
	
	.topic-edit,
	.dialogue-edit {
		float: left;
		margin-left: 51%;
		width: 48%;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			@include inline-block;
			list-style: none;
			margin-bottom: 10px;
			margin-right: 1.5%;
			width: 48%;
		}
		
		label {
			@include inline-block;
			max-width: 50px;
			width: 25%;
		}
		
		select,
		input {
			width: 62%;
		}
		
		textarea {
			height: 60px;
			margin: 10px 0;
		}
	}
}

#actions-manager,
#dialogue-manager {
	textarea {
		width: 100%;
	}
}

.add-header {
	background-color: $ccDark;
	border-radius: 5px;
	height: 25px;
	padding: 4px 10px;
	margin: 25px 0;
	
	h1, h2 {
		color: $ccWhite;
		display: inline;
		line-height: 25px;
	}

	button {
		border: none;
		border-radius: 5px;
		height: 100%;
		margin: 0;
		margin-right: 10px;
		padding: 0;
		text-align: center;
		width: 25px;
	}
}

.model-delete {
	.cancel {
		display: none;
	}
	
	&.confirm .cancel {
		@include inline-block;
	}
}
