@import "bourbon/bourbon";
@import "common";

body {
	background: #000 url(../images/tile-dk.png) repeat;
}

#scene-edit {
	overflow: hidden;
	position: relative;
	
	#actions-edit {
		display: none;
	}
}

#actions-edit {
	width: 900px;
	padding: 10px 15px;
	
	#actions-manager {
		margin-top: 0;
		padding-top: 0;
	}
}

.toolbar {
	background-color: #eee;
	border-right: 1px solid #333;
	height: 100%;
	overflow: auto;
	width: 200px;
	
	label {
		display: block;
	}
	
	.add-header {
		border-radius: 0;
		margin: 0;
	}
	
	.cancel-edit {
		float: right;
	}
	
	#toolbar-list {
		
	}
	
	#toolbar-edit {
		display: none;
	}
	
	.list-view {
		margin-bottom: 35px;
	}
	
	.edit-view {
		padding: 15px;
	}
}

.list-header {
	background-color: #333;
	color: #fff;
	@include clearfix;
	padding: 2px 5px;
	
	h1 {
		float: left;
	}
	
	.add {
		float: right;
	}
}

#layer-list {
	
	.list {
		border-bottom: 2px solid #ccc;
		position: relative;
		
		&.hilite {
			border-bottom: 2px solid #f00;
		}
	}


	li {
		background-color: #fff;
		border-top: 2px solid #ccc;
		height: 25px;
		line-height: 25px;
		padding-left: 25px;
		position: relative;
		
		&.hilite {
			border-top: 2px solid #f00;
		}
		
		&.dragging input {
			color: #ccc;
		}
		
		input {
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			@include inline-block;
			height: 23px;
			vertical-align: middle;
			
			&[readonly] {
				background-color: transparent;
				border-color:  transparent;
			}
		}
		
		.drag {
			background-color: #eee;
			display: block;
			height: 25px;
			left: 0;
			position: absolute;
			top: 0;
			width: 25px;
		}
	}
}

.viewport {
	height: 600px;
	left: 206px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	width: 800px;
}

.scene {
	background-color: #333;
	height: 600px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1000px;
	
	.layer {
		background-color: #ccc;
		height: 50px;
		left: 0;
		position: absolute;
		top: 0;
		width: 50px;
	}
}

#layer-metrics {
	display: none;
	
	.metric {
		left: 0;
		position: absolute;
		top: 0;
	}
	
	.metric span {
		border: 1px solid #000;
		display: block;
		border-radius: 50%;
		height: 8px;
		left: -4px;
		position: relative;
		top: -4px;
		width: 8px;
	}
	
	.loc span {
		background-color: #ccc;
		border-radius: 3px;
		height: 14px;
		left: -7px;
		top: -7px;
		width: 14px;
	}
	
	.size span {
		background-color: #ccc;
		border-radius: 3px;
	}
	
	.reg span {
		background-color: #fff;
	}
	
	.map span {
		background-color: #f00;
	}
}
