{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/scene-edit.scss' %}" type="text/x-scss">
<link rel="stylesheet" href="{% static 'css/scene-grid.scss' %}" type="text/x-scss">
{% endblock %}


{% block main %}
<input type="hidden" id="scene-id" value="{{ scene.id }}">

<div class="toolbar">
	<div id="toolbar-list">
		<div id="layer-list" class="list-module" data-api="layer">
			<div class="list-header">
				<h1>{{ scene.slug }} Layers</h1>
				<button class="add">Add</button>
			</div>
			<ul class="list"></ul>
			<script type="text/template" id="layer-list-item">
				<li class="layer" data-cid="<%= cid %>">
					<span class="drag"></span>
					<input type="text" readonly="readonly" value="<%= slug %>">
					<!--button class="remove">x</button-->
					<button class="edit">^</button>
				</li>
			</script>
		</div>
		
		<div id="grid-list" class="list-module" data-api="grid">
			<div class="list-header">
				<h1>{{ scene.slug }} Grids</h1>
				<button class="add">Add</button>
			</div>
			<select class="list"></select>
			<button class="edit">^</button>
		</div>
		
		<div id="matrix-list" class="list-module" data-api="matrix">
			<div class="list-header">
				<h1>{{ scene.slug }} Matrices</h1>
				<button class="add">Add</button>
			</div>
			<select class="list"></select>
			<button class="edit">^</button>
		</div>
	</div>
	
	<div id="toolbar-edit">
		<div id="layer-edit" data-api="layer">
			<button class="cancel">x</button>
			<h1>Layer Attributes</h1>
			<label for="layer-slug">Slug</label>
			<input id="layer-slug" type="text" name="slug" class="slug">
		
			<label for="layer-title">Title</label>
			<input id="layer-title" type="text" name="title" class="string">
		
			<label for="layer-subtitle-color">Title</label>
			<input id="layer-subtitle-color" type="text" name="subtitle_color" class="hex">
		
			<h2>Image</h2>
			<label for="layer-img">Image</label>
			<input id="layer-img" type="text" name="img" class="string">
		
			<label for="layer-img-x">Image-x</label>
			<input id="layer-img-x" type="text" name="img_x" class="integer">
		
			<label for="layer-img-y">Image-y</label>
			<input id="layer-img-y" type="text" name="img_y" class="integer">
		
			<label for="layer-img-w">Image width</label>
			<input id="layer-img-w" type="text" name="img_w" class="integer">
		
			<label for="layer-img-h">Image height</label>
			<input id="layer-img-h" type="text" name="img_h" class="integer">
		
			<label for="layer-opacity">Opacity</label>
			<input id="layer-opacity" type="text" name="opacity" class="percent">
		
			<h2>Hit Area</h2>
			<label for="layer-hit-x">Hit-x</label>
			<input id="layer-hit-x" type="text" name="hit_x" class="integer">
		
			<label for="layer-hit-y">Hit-y</label>
			<input id="layer-hit-y" type="text" name="hit_y" class="integer">
		
			<label for="layer-hit-w">Hitarea width</label>
			<input id="layer-hit-w" type="text" name="hit_w" class="integer">
		
			<label for="layer-hit-h">Hitarea height</label>
			<input id="layer-hit-h" type="text" name="hit_h" class="integer">
		
			<h2>Map Point</h2>
			<label for="layer-map-x">Map-x</label>
			<input id="layer-map-x" type="text" name="map_x" class="integer">
		
			<label for="layer-map-y">Map-y</label>
			<input id="layer-map-y" type="text" name="map_y" class="integer">
		
			<label for="layer-map-orien">Map orientation</label>
			<input id="layer-map-orien" type="text" name="map_orientation" class="integer">
		
			<h2>Floating</h2>
			<label for="layer-float">Floating</label>
			<input id="layer-float" type="checkbox" name="float_enabled" class="boolean">
		
			<label for="layer-float-x">Float-x</label>
			<input id="layer-float-x" type="text" name="float_x" class="integer">
		
			<label for="layer-float-y">Float-y</label>
			<input id="layer-float-y" type="text" name="float_y" class="integer">
		</div>
		
		<div id="grid-edit" data-api="grid">
			<button class="cancel">x</button>
			<h1>Grid</h1>
			<label for="grid-slug">Slug</label>
			<input id="grid-slug" type="text" name="slug" class="slug">
			
			<label for="grid-notes">Notes</label>
			<input id="grid-notes" type="text" name="notes" class="string">
			
			<h2>Grid Operations</h2>
			<button class="join">Join</button>
			<button class="split">Break</button>
			<button class="polygon">Polygon</button>
			<button class="remove">Remove</button>
		</div>
		
		<div id="matrix-edit" data-api="matrix">
			<button class="cancel">x</button>
			<h1>Matrix</h1>
			<label for="matrix-slug">Slug</label>
			<input id="matrix-slug" type="text" name="slug" class="slug">
			
			<label for="matrix-type">Type</label>
			<select id="matrix-type" name="type">
				<option value="0">Scale</option>
				<option value="1">Color</option>
				<option value="2">Rate</option>
			</select>
		</div>
	</div>
</div>


<div class="viewport">
	<div class="scene">
		<div id="layers-layout" class="layer"></div>
		<div id="layer-layout" class="layer-metrics"></div>
		<div id="grid-layout" class="grid"></div>
		<div id="matrix-layout" class="matrix"></div>
	</div>
</div>
<script type="text/template" id="grid-layout-tmpl">
	<svg>
		<% _.each(polys, function(p) { %>
		<path id="<%= p.id %>" class="<%= p.nodes %>" d="<%= p.d %>"/>
		<% }); %>
		<% _.each(lines, function(n) { %>
		<line x1="<%= n.x1 %>" y1="<%= n.y1 %>" x2="<%= n.x2 %>" y2="<%= n.y2 %>" class="<%= n.id %>"/>
		<% }); %>
	</svg>
	<ul>
		<% _.each(nodes, function(n) { %>
		<li style="left:<%= n.x %>px;top:<%= n.y %>px;" id="<%= n.id %>"><span></span></li>
		<% }); %>
	</ul>
	<div id="marquee"></div>
</script>

{% endblock %}


{% block js %}
<script>require(['scene/main']);</script>
{% endblock %}