{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/scene-edit.scss' %}" type="text/x-scss">
{% endblock %}


{% block main %}
<input type="hidden" id="scene-id" value="{{ scene.id }}">

<div class="toolbar">
	<div id="objects-list">
		<h1>{{ scene.uid }} Objects</h1>
		<button class="add">Add</button>
		<button class="save">Save</button>
		<ul class="layers"></ul>
		<script type="text/template" id="objects-list-item">
			<li class="layer" data-cid="<%= cid %>">
				<span class="drag"></span>
				<input type="text" readonly="readonly" value="<%= uid %>">
				<button class="remove">x</button>
			</li>
		</script>
	</div>
</div>
{% endblock %}


{% block js %}
<script>require(['scene/main']);</script>
{% endblock %}