{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interaction.scss' %}" type="text/x-scss">
{% endblock %}


{% block main %}

<div id="actions-manager">
	<input id="resource-uri" type="hidden" value="/api/v1/layer/{{ layer.id }}/">
	<ul class="actions-list"></ul>
	<div class="script">
		<h2>Script</h2>
		<textarea></textarea>
	</div>
	<div class="model-delete"></div>
</div>
<div id="dialogue-manager">
	<h2>Dialogue</h2>
	<button class="add-dialogue">Add</button>
	<ul class="dialogue-list"></ul>
</div>

<!--script>
$.ajax({
	url: '/api/v1/action/',
	method: 'post',
	data: JSON.stringify({
		content_object: '/api/v1/layer/{{ layer.id }}/'
	}),
	contentType: 'application/json',
	error: function(e) {
		console.log(e.responseText);
	}
});
</script-->

{% endblock %}


{% block js %}
<script>require(['interaction/main']);</script>
{% endblock %}