{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/scene-edit.css' %}">
<link rel="stylesheet" href="{% static 'css/scene-grid.css' %}">
{% endblock %}

{% block main %}
<input type="hidden" id="scene-id" value="{{ scene.id }}">

<div id="toolbar" class="toolbar">
	<div id="toolbar-list">
		<div id="layer-list" class="list-view" data-api="layer">
			<div class="add-header">
				<button class="add">+</button>
				<h1>Layers</h1>
			</div>
			<ul class="list"></ul>
			<script type="text/template" id="layer-list-item">
				<li class="layer" data-cid="<%= cid %>">
					<span class="drag"></span>
					<span><%= slug %></span>
					<button class="edit">^</button>
				</li>
			</script>
		</div>
		
		<div id="grid-list" class="list-view" data-api="grid">
			<div class="add-header">
				<button class="add">+</button>
				<h1>Grids</h1>
			</div>
			<select class="list"></select>
			<button class="edit">^</button>
		</div>
		
		<div id="matrix-list" class="list-view" data-api="matrix">
			<div class="add-header">
				<button class="add">+</button>
				<h1>Matrices</h1>
			</div>
			<select class="list"></select>
			<button class="edit">^</button>
		</div>
	</div>
	
	<div id="toolbar-edit">
		<div id="layer-edit" class="edit-view" data-api="layer">
			<button class="cancel-edit">x</button>
			<h1>Layer Attributes</h1>
			<label for="layer-slug">Slug</label>
			<input id="layer-slug" type="text" name="slug" class="slug-field">
		
			<label for="layer-title">Title</label>
			<input id="layer-title" type="text" name="title" class="text-field">
		
			<label for="layer-subtitle-color">Subtitle color</label>
			<input id="layer-subtitle-color" type="text" name="subtitle_color" class="color-field">
		
			<h2>Image</h2>
			<label for="layer-img-x">Image-x</label>
			<input id="layer-img-x" type="text" name="img_x" class="integer-field">
		
			<label for="layer-img-y">Image-y</label>
			<input id="layer-img-y" type="text" name="img_y" class="integer-field">
		
			<label for="layer-img-w">Image width</label>
			<input id="layer-img-w" type="text" name="img_w" class="integer-field">
		
			<label for="layer-img-h">Image height</label>
			<input id="layer-img-h" type="text" name="img_h" class="integer-field">
		
			<label for="layer-opacity">Opacity</label>
			<input id="layer-opacity" type="text" name="opacity" class="percent-field">
		
			<h2>Hit Area</h2>
			<label for="layer-hit-x">Hit-x</label>
			<input id="layer-hit-x" type="text" name="hit_x" class="integer-field">
		
			<label for="layer-hit-y">Hit-y</label>
			<input id="layer-hit-y" type="text" name="hit_y" class="integer-field">
		
			<label for="layer-hit-w">Hitarea width</label>
			<input id="layer-hit-w" type="text" name="hit_w" class="integer-field">
		
			<label for="layer-hit-h">Hitarea height</label>
			<input id="layer-hit-h" type="text" name="hit_h" class="integer-field">
		
			<h2>Map Point</h2>
			<label for="layer-map-x">Map-x</label>
			<input id="layer-map-x" type="text" name="map_x" class="integer-field">
		
			<label for="layer-map-y">Map-y</label>
			<input id="layer-map-y" type="text" name="map_y" class="integer-field">
		
			<label for="layer-map-orien">Map orientation</label>
			<select id="layer-map-orien" type="text" name="map_orientation" class="select-field">
				<option value="6">Back</option>
				<option value="7">Back-right</option>
				<option value="0">Side-right</option>
				<option value="1">Front-right</option>
				<option value="2">Front</option>
				<option value="3">Front-left</option>
				<option value="4">Side-left</option>
				<option value="5">Back-left</option>
			</select>
			
			<h2>Floating</h2>
			<label for="layer-float">Floating</label>
			<input id="layer-float" type="checkbox" name="float_enabled" class="boolean-field">
		
			<label for="layer-float-x">Float-x</label>
			<input id="layer-float-x" type="text" name="float_x" class="integer-field">
		
			<label for="layer-float-y">Float-y</label>
			<input id="layer-float-y" type="text" name="float_y" class="integer-field">
			
			<div class="model-delete">
				<button class="delete" data-op="confirm">Delete</button>
				<button class="delete" data-op="cancel">Cancel</button>
			</div>
		</div>
		
		<div id="grid-edit" class="edit-view" data-api="grid">
			<button class="cancel-edit">x</button>
			<h1>Grid</h1>
			<label for="grid-slug">Slug</label>
			<input id="grid-slug" type="text" name="slug" class="slug-field">
			
			<label for="grid-notes">Notes</label>
			<input id="grid-notes" type="text" name="notes" class="text-field">
			
			<h2>Grid Operations</h2>
			<ul>
				<li><button class="grid-op" data-op="join">Join</button></li>
				<li><button class="grid-op" data-op="split">Break</button></li>
				<li><button class="grid-op" data-op="polygon">Polygon</button></li>
				<li><button class="grid-op" data-op="remove">Remove</button></li>
			</ul>
			
			<div class="model-delete">
				<button class="delete" data-op="confirm">Delete</button>
				<button class="delete" data-op="cancel">Cancel</button>
			</div>
		</div>
		
		<div id="matrix-edit" class="edit-view" data-api="matrix">
			<button class="cancel-edit">x</button>
			<h1>Matrix</h1>
			<label for="matrix-slug">Slug</label>
			<input id="matrix-slug" type="text" name="slug" class="slug-field">
			
			<label for="matrix-type">Type</label>
			<select id="matrix-type" name="type" class="select-field">
				<option value="0">Scale</option>
				<option value="1">Color</option>
				<option value="2">Rate</option>
			</select>
			
			<label for="matrix-ax">A-x</label>
			<input id="matrix-ax" type="text" name="a_x" class="integer-field">
		
			<label for="matrix-ay">A-y</label>
			<input id="matrix-ay" type="text" name="a_y" class="integer-field">
			
			<label for="matrix-aval">A value</label>
			<input id="matrix-aval" type="text" name="a_value" class="text-field">
			
			<label for="matrix-bx">B-x</label>
			<input id="matrix-bx" type="text" name="b_x" class="integer-field">
		
			<label for="matrix-by">B-y</label>
			<input id="matrix-by" type="text" name="b_y" class="integer-field">
			
			<label for="matrix-bval">B value</label>
			<input id="matrix-bval" type="text" name="b_value" class="text-field">
			
			<div class="model-delete">
				<button class="delete" data-op="confirm">Delete</button>
				<button class="delete" data-op="cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/template" id="model-delete-tmpl">
<div class="intent">
	<p>Danger zone</p>
	<button class="delete" data-op="intent">Delete</button>
</div>
<div class="confirm" style="display:none;">
	<p>Are you sure?</p>
	<button class="delete" data-op="cancel">Cancel</button>
	<button class="delete" data-op="confirm">Delete</button>
</div>
</script>


<div class="viewport">
	<div class="scene" {% if scene.image %}style="background:url(/media/{{ scene.image }}) no-repeat;"{% endif %}>
		<div id="layers-layout"></div>
		<div id="grid-layout"></div>
		<div id="matrix-layout"></div>
		<div id="layer-metrics">
			<div class="metric loc" data-attr="img"><span></span></div>
			<div class="metric size" data-attr="size"><span></span></div>
			<div class="metric reg" data-attr="float"><span></span></div>
			<div class="metric map" data-attr="map"><span></span></div>
		</div>
	</div>
</div>
<script type="text/template" id="grid-layout-tmpl">
	<svg>
		<% _.each(polys, function(p) { %>
		<path id="<%= p.id %>" class="<%= p.nodes %>" d="<%= p.d %>"/>
		<% }); %>
		<% _.each(lines, function(n) { %>
		<line x1="<%= n.x1 %>" y1="<%= n.y1 %>" x2="<%= n.x2 %>" y2="<%= n.y2 %>" class="<%= n.id %>"/>
		<% }); %>
	</svg>
	<ul>
		<% _.each(nodes, function(n) { %>
		<li style="left:<%= n.x %>px;top:<%= n.y %>px;" id="<%= n.id %>"><span></span></li>
		<% }); %>
	</ul>
	<div id="marquee"></div>
</script>

{% endblock %}


{% block js %}
<script>require(['scene/main']);</script>
{% endblock %}